* {
    TEXT_COLOR: white;
    SHADOW_COLOR: black;
    BORDER_COLOR: rgba(255,255,255,0.5);
    MAP_BORDER_COLOR: rgba(0,0,0,0.5);
    CONTROL_DEFAULT_BG_COLOR: linear-gradient(to top right, rgba(0,11,22,0.65) 0%, rgba(255,255,255,0.15) 100% );
    CONTROL_FOCUS_BG_COLOR: linear-gradient(to top left, rgba(0,11,22,0.65) 0%, rgba(255,255,255,0.15) 100% );
    CONTROL_ACTION_BG_COLOR: linear-gradient(to top left, rgba(0,11,22,0.75) 0%, rgba(255,255,255,0.25) 100% );
    CONTAINER_DEFAULT_BG_COLOR: linear-gradient(to bottom right, rgba(0,11,22,0.33) 0%, rgba(166,166,166,0.15) 100% );
    CONTAINER_DARK_BG_COLOR: linear-gradient(to bottom left, rgba(0,5,11,0.7) 0%, rgba(88,88,88,0.15) 100% );
}

.Background-gameTheme {
    -fx-background-image: url("../img/introBG.jpg");
}

/*Alignments*/
.Alignment-center {
    -fx-alignment: center;
}

.Alignment-topCenter {
    -fx-alignment: top-center;
}

.Alignment-bottomCenter {
    -fx-alignment: bottom-center;
}

.Alignment-leftCenter {
    -fx-alignment: center-left;
}

.Alignment-rightCenter {
    -fx-alignment: center-right;
}

/*Fonts for text/label*/
Text,
.label,
.TextField-gameTheme,
.TextField-gameTheme-small,
.TextField-gameTheme-medium,
.TextArea-gameTheme,
.Accordion-gameTheme > .titled-pane > .title,
.Button-gameTheme {
    -fx-font-family: "Courier New";
    -fx-font-weight: 900; /*safe to ignore warning*/
}

.Font-family-header {
    -fx-font-family: "Eras Bold ITC";
}

.Font-family-title {
    -fx-font-family: "Algerian";
}

.Font-size-3XS {
    -fx-font-size: 8;
}

.Font-size-3XS.Effect-dropshadow {
    -fx-effect: dropshadow(two-pass-box, SHADOW_COLOR, 0, 0, 1, 1);
}

.Font-size-2XS {
    -fx-font-size: 12;
}

.Font-size-2XS.Effect-dropshadow {
    -fx-effect: dropshadow(two-pass-box, SHADOW_COLOR, 0, 0, 1, 1);
}

.Font-size-XS {
    -fx-font-size: 16;
}

.Font-size-XS.Effect-dropshadow {
    -fx-effect: dropshadow(two-pass-box, SHADOW_COLOR, 0, 0, 1, 1);
}

.Font-size-S {
    -fx-font-size: 24;
}

.Font-size-S.Effect-dropshadow {
    -fx-effect: dropshadow(two-pass-box, SHADOW_COLOR, 0, 0, 2, 2);
}

.Font-size-M {
    -fx-font-size: 32;
}

.Font-size-M.Effect-dropshadow {
    -fx-effect: dropshadow(two-pass-box, SHADOW_COLOR, 1, 0, 2, 2);
}

.Font-size-L {
    -fx-font-size: 48;
}

.Font-size-L.Effect-dropshadow {
    -fx-effect: dropshadow(two-pass-box, SHADOW_COLOR, 1, 0, 3, 3);
}

.Font-size-XL {
    -fx-font-size: 64;
}

.Font-size-XL.Effect-dropshadow {
    -fx-effect: dropshadow(two-pass-box, SHADOW_COLOR, 2, 0, 4, 4);
}

.Font-size-2XL {
    -fx-font-size: 96;
}

.Font-size-2XL.Effect-dropshadow {
    -fx-effect: dropshadow(two-pass-box, SHADOW_COLOR, 2, 0, 5, 5);
}

.Font-size-3XL {
    -fx-font-size: 128;
}

.Font-size-3XL.Effect-dropshadow {
    -fx-effect: dropshadow(two-pass-box, SHADOW_COLOR, 3, 0, 6, 6);
}

/*controls*/
.ChoiceBox-gameTheme {
    -fx-pref-width: 200px;
    -fx-pref-height: 30px;
}

.TextField-gameTheme,
.TextField-gameTheme-small,
.TextField-gameTheme-medium{
    -fx-max-height: 30px;
    -fx-min-height: 30px;
}

.TextField-gameTheme {
    -fx-max-width: 200px;
    -fx-min-width: 200px;
}

.TextField-gameTheme-small {
    -fx-max-width: 52px;
    -fx-min-width: 52px;
}

.TextField-gameTheme-medium {
    -fx-max-width: 84px;
    -fx-min-width: 84px;
}

.ChoiceBox-gameTheme .context-menu {
    -fx-pref-width: 200px;
}

.Button-gameTheme {
    -fx-pref-width: 136px;
    -fx-pref-height: 50px;
}

.Accordion-gameTheme > .titled-pane {
    -fx-padding: 0 0 2 0;
}

.ChoiceBox-gameTheme > .label,
.ChoiceBox-gameTheme .menu-item > .label,
.TextField-gameTheme,
.TextField-gameTheme-small,
.TextField-gameTheme-medium,
.ColorPicker-gameTheme > .label,
.Button-gameTheme,
.Accordion-gameTheme > .titled-pane > .title > .text {
    -fx-alignment: center;
}

.label,
.ChoiceBox-gameTheme > .label,
.ChoiceBox-gameTheme .menu-item > .label,
.TextField-gameTheme,
.TextField-gameTheme-small,
.TextField-gameTheme-medium,
.ColorPicker-gameTheme > .label,
.Button-gameTheme {
    -fx-text-fill: TEXT_COLOR;
}

.TextField-gameTheme,
.TextField-gameTheme-small,
.TextField-gameTheme-medium,
.TextArea-gameTheme
{
    -fx-highlight-fill: CONTROL_ACTION_BG_COLOR;
}

Text,
.Accordion-gameTheme > .titled-pane > .title > .text {
    -fx-fill: TEXT_COLOR;
}

.ChoiceBox-gameTheme,
.ChoiceBox-gameTheme .context-menu,
.TextField-gameTheme,
.TextField-gameTheme-small,
.TextField-gameTheme-medium,
.ColorPicker-gameTheme,
.ColorPicker-gameTheme .color-palette,
.Accordion-gameTheme > .titled-pane > .title,
.Button-gameTheme {
    -fx-background-color: CONTROL_DEFAULT_BG_COLOR;
    -fx-background-radius: 5;
}


.TextArea-gameTheme {
    -fx-control-inner-background: black;
    -fx-background-radius: 5;
}

.ZoomableScrollPane-gameTheme {
    -fx-background: black;
    -fx-pannable: true;
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
}

.ScrollPane-gameTheme {
    -fx-background-color:transparent;
}

.ScrollPane-gameTheme > .viewport {
    -fx-background-color: transparent;
}

.ChoiceBox-gameTheme:hover,
.TextField-gameTheme:hover,
.TextField-gameTheme-small:hover,
.TextField-gameTheme-medium:hover,
.ColorPicker-gameTheme:hover,
.Accordion-gameTheme > .titled-pane > .title:hover,
.Button-gameTheme:hover {
    -fx-background-color: CONTROL_FOCUS_BG_COLOR;
}

.ChoiceBox-gameTheme:pressed,
.ChoiceBox-gameTheme .menu-item:focused,
.TextField-gameTheme:pressed,
.TextField-gameTheme-small:pressed,
.TextField-gameTheme-medium:pressed,
.ColorPicker-gameTheme:pressed,
.Accordion-gameTheme > .titled-pane > .title:pressed,
.Button-gameTheme:pressed {
    -fx-background-color: CONTROL_ACTION_BG_COLOR
}

.Accordion-gameTheme > .titled-pane > .content,
#VBox-intro-mainPanel {
    -fx-background-color: CONTAINER_DEFAULT_BG_COLOR;
    -fx-background-radius: 5;
}

#VBox-ingame-right,
#VBox-ingame-left {
    -fx-background-color: CONTAINER_DARK_BG_COLOR;
    -fx-background-radius: 5;
}

.ChoiceBox-gameTheme,
.ChoiceBox-gameTheme .context-menu,
.TextField-gameTheme,
.TextField-gameTheme-small,
.TextField-gameTheme-medium,
.ColorPicker-gameTheme,
.ColorPicker-gameTheme .color-palette,
.Accordion-gameTheme > .titled-pane > .title,
.Accordion-gameTheme > .titled-pane > .content,
.Button-gameTheme,
#VBox-intro-mainPanel,
#VBox-ingame-left,
#VBox-ingame-right {
    -fx-border-color: BORDER_COLOR;
    -fx-border-radius: 5;
}

/*concrete containers*/
/*intro*/
#HBox-intro-root,
#HBox-ingame-root {
    -fx-pref-width: 1920px;
    -fx-pref-height: 1080px;
}

#VBox-intro-mainPanel {
    -fx-pref-width: 1000px;
}

#VBox-intro-welcome {
    -fx-pref-height: 300px;
}

#VBox-intro-config1,
#VBox-intro-config2 {
    -fx-spacing: 15;
    -fx-padding: 20 0;
}

#VBox-intro-config1 {
    -fx-pref-height: 240px;
}

#VBox-intro-config1Labels,
#VBox-intro-config1Choices{
    -fx-pref-width: 264px;
}

.VBox-intro-playerLabels,
.VBox-intro-playerInputs {
    -fx-pref-width: 200px;
}

#VBox-intro-config1Labels,
.VBox-intro-playerLabels,
.VBox-ingame-playerPanel {
    -fx-spacing: 16;
}

#VBox-intro-config1Choices,
.VBox-intro-playerInputs {
    -fx-spacing: 14;
}

.HBox-intro-playerColor,
.HBox-ingame-playerResourceBar {
    -fx-spacing: 6;
}

.VBox-ingame-resource {
    -fx-spacing: 4;
}

#VBox-intro-config2 {
    -fx-pref-height: 432px;
}

#VBox-intro-config2Body {
    -fx-padding: 0 330;
}

#HBox-intro-buttons {
    -fx-pref-height: 108px;
}

#HBox-intro-buttons,
#HBox-ingame-buttons {
    -fx-spacing: 14;
}

/*ingame*/
#VBox-ingame-left {
    -fx-pref-width: 480px;
}

#VBox-ingame-leftUpper, #VBox-ingame-leftLower {
    -fx-spacing: 20;
    -fx-padding: 25;
}

#VBox-ingame-leftUpper {
    -fx-pref-height: 600px;
}

#VBox-ingame-leftLower {
    -fx-pref-height: 480px;
}

#TextArea-ingame-globalLog {
    -fx-pref-height: 386;
}

#VBox-ingame-right {
    -fx-pref-width: 1440px;
    -fx-spacing: 10;
}

#ZoomableScrollPane-ingame-map {
    -fx-pref-height: 960px;
}

#Text-ingame-mapLoading {
    -fx-translate-x: 460px;
    -fx-translate-y: 500px;
}

